
@{
    Layout = null;
}

<!DOCTYPE html>
<h2 class="contentTitle">出库单</h2>
<form method="post" action="/StockOut/AddSave" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
    <div class="pageContent">
        <div class="pageFormContent" layoutH="97">
            <dl class="nowrap">
                <dt>出库时间</dt>
                <dd>
                    <input type="text" name="PYear" id="PYear" class="date textInput" datefmt="yyyy/MM/dd" />

                </dd>
            </dl>
            <dl class="nowrap">
                <dt>经手人</dt>
                <dd>
                    <input type="text" name="StockCreater" id="StockCreater" />
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>客户</dt>
                <dd>
                    <input type="hidden" name="Customer.Id" id="Customer.Id" />
                    <input type="text" name="Customer.Name" id="Customer.Name" lookupGroup="Customer" suggestfields="Name" suggesturl="/Customer/getallCustomer" />
                </dd>
            </dl>

            <div class="divider"></div>
            <h3 class="contentTitle">出库清单</h3>
            <div class="tabs">
                <div class="tabsContent" style="height: 150px;">
                    <div>
                        <table class="list nowrap itemDetail" addButton="新建清单条目" width="100%">
                            <thead>
                                <tr>
                                    <th type="lookup" name="items[#index#].book.Name"
                                        lookupGroup="items[#index#].book"
                                        suggestUrl="/Report/GetAllBookReport"
                                        suggestFields="Name,Amount"
                                        postField="keywords" size="12" fieldClass="required">书籍名称</th>@*读取的是库存里存在的书目信息*@
                                                                                                          
                                    <th type="text" name="items[#index#].book.Id" defaultVal="#index#" size="12" fieldClass="digits">书的编号</th>
                                    <th type="text" name="items[#index#].book.Price" defaultVal="#index#" size="12" fieldClass="number">价格</th>
                                    <th type="text" name="items[#index#].book.Version" defaultVal="#index#" size="12" fieldClass="digits">版本</th>
                                    <th type="text" name="items[#index#].book.Author" defaultVal="#index#" size="12" fieldClass="required">作者</th>
                                    <th type="text" name="items[#index#].book.Amount" defaultVal="#index#" size="12" fieldClass="digits" >数量</th>
                                    <th type="text" name="items[#index#].Discount" defaultVal="#index#" size="12" fieldClass="number">折扣</th>
                                    <th type="del" width="60">操作</th>                                   
                               </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tabsFooter">
                    <div class="tabsFooterContent"></div>
                </div>
            </div>

        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button class="close" type="button">关闭</button></div></div></li>   
            </ul>
        </div>
    </div>
</form>